/*=========== 00. RESET CSS ================ */
html {
  font-size: 18px;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:before, :after {
  box-sizing: border-box; }

a, span, :before, :after {
  display: inline-block; }

:focus {
  outline: none; }

ul, ol, li {
  list-style-type: none;
  margin: 0 !important; }

a {
  text-decoration: none !important;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

img {
  width: 100%; }

video {
  width: 100%; }

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'ABeeZee', sans-serif !important;
  line-height: 1.285;
  color: #e7e7e7;
  font-weight: 400; }
  body::-webkit-scrollbar {
    width: 4px;
    z-index: 9999999999999999999999999999999999999999999999999999999;
    pointer-events: all;
    position: fixed;
    right: 0; }
  body::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
    width: 4px; }
  body:hover::-webkit-scrollbar-thumb {
    transition: all .3s ease;
    opacity: 1; }

.hm-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

/*=========== 00. General ================ */
.img {
  display: block;
  position: relative; }
  .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.img-1-1::before {
  content: '';
  display: block;
  padding-top: 100%;
  background-color: transparent; }

.img-2-1::before {
  content: '';
  display: block;
  padding-top: 50%;
  background-color: transparent; }

.img-3-2::before {
  content: '';
  display: block;
  padding-top: 66.666%;
  background-color: transparent; }

.hm-row {
  font-size: 0;
  margin-left: -19px;
  margin-right: -19px; }
  .hm-row > [class*="hm-col-"], .hm-row[class*="hm-column-"] .item {
    padding-left: 19px;
    padding-right: 19px;
    display: inline-block;
    vertical-align: top; }

[class*="hm-col-"].ta-l {
  text-align: left; }
[class*="hm-col-"].ta-c {
  text-align: center; }
[class*="hm-col-"].ta-r {
  text-align: right; }

.hm-col-fluid-16 {
  width: 100%; }

.hm-col-fluid-15 {
  width: 93.75%; }

.hm-col-fluid-14 {
  width: 87.5%; }

.hm-col-fluid-13 {
  width: 81.25%; }

.hm-col-fluid-12 {
  width: 75%; }

.hm-col-fluid-11 {
  width: 68.75%; }

.hm-col-fluid-10 {
  width: 62.5%; }

.hm-col-fluid-9 {
  width: 56.25%; }

.hm-col-fluid-8 {
  width: 50%; }

.hm-col-fluid-7 {
  width: 43.75%; }

.hm-col-fluid-6 {
  width: 37.5%; }

.hm-col-fluid-5 {
  width: 31.25%; }

.hm-col-fluid-4 {
  width: 25%; }

.hm-col-fluid-3 {
  width: 18.75%; }

.hm-col-fluid-2 {
  width: 12.5%; }

.hm-col-fluid-1 {
  width: 6.25%; }

.hm-col-12 {
  width: 100%; }

.hm-col-11 {
  width: 91.6666%; }

.hm-col-10 {
  width: 83.33333%; }

.hm-col-9 {
  width: 75%; }

.hm-col-8 {
  width: 66.666%; }

.hm-col-7 {
  width: 58.3333%; }

.hm-col-6 {
  width: 50%; }

.hm-col-5 {
  width: 41.6666%; }

.hm-col-4 {
  width: 33.33333%; }

.hm-col-3 {
  width: 25%; }

.hm-col-2 {
  width: 16.6666%; }

.hm-col-1 {
  width: 8.33333%; }

.hm-push-1 {
  margin-right: 8.3333%; }

.hm-push-2 {
  margin-right: 16.6666%; }

.hm-push-3 {
  margin-right: 25%; }

.hm-push-4 {
  margin-right: 33.333%; }

.hm-push-5 {
  margin-right: 41.6666%; }

.hm-push-6 {
  margin-right: 50%; }

.hm-push-7 {
  margin-right: 58.333%; }

.hm-push-8 {
  margin-right: 66.666%; }

.hm-push-9 {
  margin-right: 75%; }

.hm-push-10 {
  margin-right: 83.3333%; }

.hm-pull-1 {
  margin-left: 8.3333%; }

.hm-pull-2 {
  margin-left: 16.6666%; }

.hm-pull-3 {
  margin-left: 25%; }

.hm-pull-4 {
  margin-left: 33.333%; }

.hm-pull-5 {
  margin-left: 41.6666%; }

.hm-pull-6 {
  margin-left: 50%; }

.hm-pull-7 {
  margin-left: 58.333%; }

.hm-pull-8 {
  margin-left: 66.666%; }

.hm-pull-9 {
  margin-left: 75%; }

.hm-pull-10 {
  margin-left: 83.3333%; }

/*============================*/
.hm-push-fluid-16 {
  margin-right: 100%; }

.hm-push-fluid-15 {
  margin-right: 93.75%; }

.hm-push-fluid-14 {
  margin-right: 87.5%; }

.hm-push-fluid-13 {
  margin-right: 81.25%; }

.hm-push-fluid-12 {
  margin-right: 75%; }

.hm-push-fluid-11 {
  margin-right: 68.75%; }

.hm-push-fluid-10 {
  margin-right: 62.5%; }

.hm-push-fluid-9 {
  margin-right: 56.25%; }

.hm-push-fluid-8 {
  margin-right: 50%; }

.hm-push-fluid-7 {
  margin-right: 43.75%; }

.hm-push-fluid-6 {
  margin-right: 37.5%; }

.hm-push-fluid-5 {
  margin-right: 31.25%; }

.hm-push-fluid-4 {
  margin-right: 25%; }

.hm-push-fluid-3 {
  margin-right: 18.75%; }

.hm-push-fluid-2 {
  margin-right: 12.5%; }

.hm-push-fluid-1 {
  margin-right: 6.25%; }

/*=================================*/
.hm-pull-fluid-16 {
  margin-left: 100%; }

.hm-pull-fluid-15 {
  margin-left: 93.75%; }

.hm-pull-fluid-14 {
  margin-left: 87.5%; }

.hm-pull-fluid-13 {
  margin-left: 81.25%; }

.hm-pull-fluid-12 {
  margin-left: 75%; }

.hm-pull-fluid-11 {
  margin-left: 68.75%; }

.hm-pull-fluid-10 {
  margin-left: 62.5%; }

.hm-pull-fluid-9 {
  margin-left: 56.25%; }

.hm-pull-fluid-8 {
  margin-left: 50%; }

.hm-pull-fluid-7 {
  margin-left: 43.75%; }

.hm-pull-fluid-6 {
  margin-left: 37.5%; }

.hm-pull-fluid-5 {
  margin-left: 31.25%; }

.hm-pull-fluid-4 {
  margin-left: 25%; }

.hm-pull-fluid-3 {
  margin-left: 18.75%; }

.hm-pull-fluid-2 {
  margin-left: 12.5%; }

.hm-pull-fluid-1 {
  margin-left: 6.25%; }

/*==================*/
.hm-row.va-m [class*="hm-col-"] {
  vertical-align: middle; }

.hm-row.va-b [class*="hm-col-"] {
  vertical-align: bottom; }

.text-c {
  text-align: center; }

.margin-auto {
  margin: 0 auto; }

.hm-column-6 .item {
  width: 16.6666%; }
  .hm-column-6 .item:not(:nth-child(-n + 6)) {
    margin-top: 30px; }

.hm-column-5 .item {
  width: 20%; }
  .hm-column-5 .item:not(:nth-child(-n + 5)) {
    margin-top: 30px; }

.hm-column-4 .item {
  width: 25%; }
  .hm-column-4 .item:not(:nth-child(-n + 4)) {
    margin-top: 30px; }

.hm-column-3 .item {
  width: 33.3333%; }
  .hm-column-3 .item:not(:nth-child(-n + 3)) {
    margin-top: 90px; }

.hm-column-2 .item {
  width: 50%; }
  .hm-column-2 .item:not(:nth-child(-n + 2)) {
    margin-top: 30px; }

.hm-column-1 .item {
  width: 100%; }
  .hm-column-1 .item:not(:nth-child(-n + 1)) {
    margin-top: 30px; }

.clear::after {
  content: '';
  display: block;
  clear: both; }

.hm-input-group {
  position: relative; }

.hm-btn {
  background-color: transparent;
  border: none; }

.hm-container-fluid {
  width: 100vw;
  padding: 0 15px; }

.pl-0 {
  padding-left: 0 !important; }

.pr-o {
  padding-right: 0 !important; }

.plr-0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

/*=====================NAV===========================*/
nav {
  background-color: #191e23eb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999999999; }
  nav .showmenu {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0;
    right: 5%;
    pointer-events: none;
    z-index: 99999999999999999999999999999999999999999999999999999999999; }
    nav .showmenu::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      color: #fff;
      box-shadow: 0 15px 0 #fff, 0 5px 0 #fff, 0 10px 0 #fff;
      z-index: 9999999999999999999999999999999999999999999999999999999999;
      top: 20%;
      right: 5%;
      transform: translate(0, -50%);
      opacity: 0;
      pointer-events: none; }
  nav .hm-container-fluid .menu > li {
    display: inline-block;
    position: relative;
    cursor: pointer; }
    nav .hm-container-fluid .menu > li > a {
      padding: 1.3rem 1rem;
      text-transform: uppercase;
      color: #fff;
      font-size: 1rem;
      font-weight: 700; }
    nav .hm-container-fluid .menu > li:hover {
      background-image: linear-gradient(to right, #3f7ec0, #3eb6a7); }
      nav .hm-container-fluid .menu > li:hover .sub-menu {
        opacity: 1;
        top: 100%;
        z-index: 9999;
        transition: all .3s ease;
        pointer-events: all; }
    nav .hm-container-fluid .menu > li .sub-menu {
      pointer-events: none;
      background-image: linear-gradient(to top, #3f7ec0, #3eb6a7);
      position: absolute;
      top: 110%;
      right: 0;
      background-color: #fff;
      opacity: 0;
      text-align-last: left; }
      nav .hm-container-fluid .menu > li .sub-menu li {
        width: 20rem;
        position: relative; }
        nav .hm-container-fluid .menu > li .sub-menu li a {
          font-size: 1rem;
          color: #fff;
          font-weight: 700;
          padding: 1rem;
          text-transform: capitalize;
          z-index: 9;
          width: 100%; }
        nav .hm-container-fluid .menu > li .sub-menu li::before {
          content: "";
          position: absolute;
          background-image: linear-gradient(to right, #3f7ec0, #3eb6a7);
          left: 0;
          right: 100%;
          opacity: 0;
          top: 0;
          bottom: 0;
          transition: all .3s ease;
          pointer-events: none; }
        nav .hm-container-fluid .menu > li .sub-menu li:hover::before {
          right: 0;
          opacity: .5; }

/*================================HEADER======================*/
header {
  width: 100vw;
  position: relative;
  overflow: hidden; }
  header::before {
    content: '';
    display: block;
    padding-top: 46.1%; }

#carouselExampleIndicators {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/*# sourceMappingURL=firstpage.css.map */
