
// @media only screen and (max-width:1200px){
//     header{
//         .hm-container-fluid{
            
//             .slide{
//                 .title{
//                     font-size: 80px;
//                 }
//                 .buy{
//                     font-size: 16px;
//                     padding: 10px 20px;
//                 }
//             }
//         }
//     }
//     main{
//         .banner-1 .hardware-banner{
//             top: 0;
//         }
//     }
// }



@media only screen and (max-width:1200px){
    header{
        .hm-container-fluid{
            nav{
                left: 0;
                right: 0;
                text-align: center;
                .logo-nav{
                    float: none;
                    width: 12%;
                }
                .menu{
                    float: none;
                }
            }
            .slide{
                .title{
                    font-size: 80px;
                }
                .buy{
                    font-size: 16px;
                    padding: 10px 20px;
                }
            }
        }
    }
    main{
        .banner-1 .hardware-banner{
            top: 0;
        }
    }
}


// @media only screen and (max-width: 1000px){
//     main .wrapper.wrapper-hosting .list-price .price:hover .hardware-info p{
//         font-size: 16px;
//         padding: 10px 0;
//     }
//     main .wrapper.wrapper-hosting .list-price .price .total-price{
//         font-size: 24px;
//     }
//     main .hm-container .hm-row .hm-col-12 .wrapper.wrapper-product .list-product .item{
//         width: 50%;
//     }
//     main .hm-container .hm-row .hm-col-12 .wrapper.wrapper-product .list-product .item:not(:nth-child(-n +2)){
//         margin-top: 20px;
//     }
//     header{
//         .hm-container-fluid{
//             .slide{
//                 .title{
//                     font-size: 60px;
//                     &.active{
//                         left: 20%;
//                     }
//                 }
//                 .buy{
//                     font-size: 16px;
//                     padding: 10px 20px;
//                 }
//             }
//         }
//     }
// }
@media only screen and (max-width: 850px){
//     main .banner-1 .hardware-banner{
//         top: 20%;
//         width: 50%;
//     }
//     .hm-column-4 .item{
//         width: 50%;
//     }
//     .hm-column-4 .item:not(:nth-child(-n + 2)) {
//         margin-top: 30px; }
    footer .hm-container-fluid .hm-container .hm-row {
        .hm-col-8{
            width: 100%;
        }
        .hm-col-4{
            width: 100%;
            // text-align: center;
        }
    }
    .direc {
        position: fixed;
        top: 50%;
        left: -0%;
        transform: translate(-100%, -50%);
        overflow: hidden;
        z-index: 99999999999;
        height: 100px;
        width: 50px;
        background-color: #132c5f;
        transition: all .3s ease;
        ~a{
            z-index: 999999999999999999999999999999999999;
            position: fixed;
            display: block;
            width: 40px;
            height: 40px;
            top: 10%;
            left: 0;

            transition: all .8s ease;
            i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &.active{
            position: fixed;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            z-index: 99999999999;
            width: 40px;
            height: fit-content;
            border-radius: 0;
            overflow: visible;
        }
    }
//     header{
//         .hm-container-fluid{
//             .slide{
//                 .title{
//                     font-size: 60px;
//                     &.active{
//                         left: 20%;
//                     }
//                 }
//                 .buy{
//                     font-size: 16px;
//                     padding: 10px 20px;
//                 }
//             }
//         }
//     }
    /*contact*/
    main{
        section{
            &#contact{
                margin-top: 50px;
                .title{
                    .contact-title{
                        h1{
                           font-size: 36px;
                           font-weight: 700;
                           text-align: center; 
                        }
                    }
                }
                .top-contact{
                    margin-top: 20px;
                    .item + .item{
                        margin-top: 20px;
                    }
                    .hm-column-3 .item{
                        width: 100%;
                    }
                    .contact{
                        text-align: center;
                        .icon{
                            font-size: 48px;
                            color: #1369bf;
                        }
                        h3{
                            font-size: 24px;
                            font-weight: 700;
                        }
                        p{
                            font-size: 18px;
                            padding: 5px 0;
                        }
                    }
                }
            }
            &#form-contact{
                margin-top: 50px;
                .form-title{
                    h1{
                        font-size: 36px;
                        font-weight: 700;
                        text-align: center;
                    }
                }
                form{
                    margin-top: 20px;
                    input,textarea{
                        display: block;
                        background-color: #333;
                        color: #fefefe;
                        font-style: italic;
                        padding: 25px;
                        margin-top: 33px;
                        width: 100%;
                        border: none;
                        text-rendering:none;
                        transition: all .5s ease;
                        &:focus{
                            box-shadow: 1px 1px 15px 0 #fefbce;
                        }
                    }
                    textarea{
                        height: 250px;
                    }
                }
                .button-social{
                    margin-top: 20px;
                    .hm-col-4{
                        width: 100%;
                    }
                    .list-button{
                        .button{
                            > *{
                                height: 46px;
                                width: 100%;
                                color: #fff;
                                font-style: italic;
                                font-size: 18px;
                                border: none;
                                cursor: pointer;
                            }
                            .submit{
                                position: relative;
                                background-color: #1369bf;
                                border-bottom: 5px solid #0c3762;
                                // overflow: hidden;
                                &::after{
                                    content: " ";
                                    position: absolute;
                                    height: 5px;
                                    bottom: -5px;
                                    left: 0;
                                    right: 100%;
                                    background-color: #03111f;
                                    transition: all .5s ease;
                                }   
                                &:hover::after{
                                    right: 0;
                                }
                            }
                            .reset{
                                color: #000;
                            }
                        }
                    }
                    .hm-col-8{
                        width: 100%;
                    }
                    .socials{
                        margin-top: 20px;
                        .list-socials{
                            text-align: center;
                            li{
                                display: inline-block;
                                float: none;
                                margin-left: 15px;
                                a{
                                    width: 45px;
                                    height: 45px;
                                    color: #fefbce;
                                    border: 5px solid #fefbce;
                                    border-radius: 50%;
                                    position: relative;
                                    i{
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 700px){
//     main{
//         .banner-1{
//             .hm-col-5{
//                 width: 100%;
//                 h2{
//                     font-size: 36px;
//                     padding-top: 40px;
//                 }
//             }
//             .hardware-banner{
//                 width: 50%;
//                 top: 0%;
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//             }
//         }
//     }
//     .hm-column-2 .item{
//         width: 100%;
//     }
//     .hm-column-2 .item:not(:nth-child(-n + 1)){
//         margin-top: 20px;
//     }
//     .hm-column-4 .item{
//         width: 100% !important;
//     }
//     .hm-column-4 .item:not(:nth-child(-n + 1)){
//         margin-top: 20px;
//     }
//     main .wrapper.wrapper-hosting .list-price .price .hardware-info p{
//         padding: 20px 0;
//     }
    footer .hm-container-fluid .hm-container .hm-row {
        .hm-col-8{
            width: 100%;
            .hm-column-3{
                .item{
                    width: 100%;
                    text-align: center;
                }
            }
        }
        .hm-col-4{
            width: 100%;
            // text-align: center;
        }
    }
    .list-payments{
        .hm-col-1{
            width: 41%;
        }
        .hm-col-3{
            width: 50%;
            display: block;
            margin: 0 auto;
            margin-top: 30px;            
        }
    }
}
// @media only screen and (max-width:600px){
//     header{
//         .hm-container-fluid{
            
//             .slide{
//                 .title{
//                     font-size: 30px;
//                     &.active{
//                         left:20%;
//                     }
//                 }
//                 .buy{
//                     font-size: 12px;
//                     padding: 5px 10px;
//                 }
//             }
//         }
//     }
// }


@media only screen and (max-width:1310px){
html{
    font-size: 14px;
}
main{
    .banner-2{
        margin-top: 50px;
        &::before {
            content: '';
            display: block;
            padding-top: 25%;
            }
            text-align: center;
        .hm-container{
            position: absolute;
            z-index: 9;
            top: 0;
            left: 50%;
            width: 1200px;
            padding: 0 15px;
            transform: translate(-50%, 0);
            h3{
            font-size: 2rem;
            position: relative;
            top: 10px;
            width: 100%;
            text-align: center;
            }
            p{
            position: absolute;
            font-size: 1rem;
            top: 50px;
            left:50%;
            transform: translate(-50%, 0);
            width: 100%;
            }
        }
    }
}
}
@media only screen and (max-width:1200px){
    html{
        font-size: 14px;
    }
    .logo-nav{
        padding: 5px 0;
    }
    main{
    .banner-2{
        margin-top: 50px;
        &::before {
            content: '';
            display: block;
            padding-top: 25%;
            }
            text-align: center;
        .hm-container{
            position: absolute;
            z-index: 9;
            top: 0;
            left: 50%;
            width: 100vw;
            padding: 0 15px;
            transform: translate(-50%, 0);
            h3{
            font-size: 2rem;
            position: relative;
            top: 10px;
            width: 100%;
            text-align: center;
            }
            p{
            position: absolute;
            font-size: 1rem;
            top: 50px;
            left:50%;
            transform: translate(-50%, 0);
            width: 100%;
            }
        }
    }
}
}
@media only screen and (max-width:1050px){
    html{font-size: 10px;}
}
@media only screen and (max-width:930px){
    html{
        font-size: 10px;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999999999999;
     
        .hm-container-fluid{
            // .logo-nav{
            //     padding: .5rem 0;
            // }
            .menu{
                >li{
                    display: inline-block;
                    position: relative;
                    >a{
                        padding: 1.3rem 1rem;
                        text-transform: uppercase;
                        color: #fff;
                        font-size: 1rem;
                        font-weight: 700;
                    }
                    
                    &:hover{
                        .sub-menu{
                            opacity: 1;
                            top: 100%;
                            z-index: 9999;
                            transition: all .3s ease;
                            pointer-events: all;
                        }
                    }
                    .sub-menu{
                        // display: none;
                        pointer-events: none;
                        position: absolute;
                        top: 110%;
                        background-color: #fff;
                        opacity: 0;
                        text-align-last: left;
                        li{
                            width: 20rem;
                            a{
                                font-size: 1rem;
                                color: #fff;
                                font-weight: 700;
                                padding: 1rem;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
@media only screen and (max-width:750px){
    header .hm-container-fluid .slide .title.active{
        left: 0%;
    }
    .hm-column-4 .item{
        width: 50%;
        &:not(:nth-child(-n + 2 )){
        margin-top: 30px;
        }
    }
    .hm-column-2 .item{
        width: 100%;
        &:not(:nth-child(-n + 2 )){
        margin-top: 30px;
        }
    }
    html{
        font-size: 14px;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99999999999;
        // &::before{
        //     position: absolute;
        //     content: " ";
        //     width: 10px;
        //     height: 2px;
        //     color: #fff;
        //     box-shadow: 0 15px 0 #fff, 0 5px 0 #fff, 0 10px 0 #fff;
        //     z-index: 99999999999999999999;
        //     top: 20%;
        //     right: 5%;
        //     transform: translate(0, -50%);
        // }
        .showmenu{
            pointer-events: all;
            &::before{
            opacity: 1;
            pointer-events: all;
            }
        }
        .hm-container-fluid{
    
            // .logo-nav{
            //     padding: .5rem 0;
            // }
            .hm-row{
                text-align: center;
            }
            .menu{
                position: absolute;
                top: 100%;
                transition: all .3s ease;
                left: -100%;
                text-align: center;
                background-image: linear-gradient(to top, #3f7ec0,#3eb6a7);
                width: 100%;
                &.active{
                    left: 50%;
                    -webkit-transform: translate(-50% , 0);
                       -moz-transform: translate(-50% , 0);
                        -ms-transform: translate(-50% , 0);
                         -o-transform: translate(-50% , 0);
                            transform: translate(-50% , 0);
                }
                >li{
                    display: block;
                    position: relative;
                    >a{
                        padding: 1.3rem 1rem;
                        text-transform: uppercase;
                        color: #fff;
                        font-size: 1rem;
                        font-weight: 700;
                    }
                    &::before{
                        content: " ";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        opacity: 0;
                        transition: all .3s ease;
                        pointer-events: none;
                    }
                    &:hover{
                        &::before{
                        opacity: .5;
                        }
                        .sub-menu{
                            opacity: 1;
                            top: 100%;
                            z-index: 9999;
                            transition: all .3s ease;
                            pointer-events: all;
                            width: 100%;
                        }
                    }
                    .sub-menu{
                        // display: none;
                        pointer-events: none;
                        position: absolute;
                        top: 110%;
                        background-color: #fff;
                        opacity: 0;
                        text-align-last: left;
                        li{
                            width: 100%;
                            a{
                                font-size: 1rem;
                                color: #fff;
                                font-weight: 700;
                                padding: 1rem;
                                text-align: center;
                                text-transform: capitalize;
                                &:hover{
                                    color: #aaa;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        .banner-1{
            margin-top: 150px;
            position: relative;
            &.post::after{
                content:"";
                display: none;
            }
            &::after{
                content:"\f13a";
                font-weight: 900;
                font-family: "Font Awesome 5 Free";
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translate(0, -50%);
                transition: all .3s ease;
                font-size: 1.5rem;
            }
            &:hover{
                &::after {
                    top: 100%;
                    right: 50%;
                    transform: translate(50%, -50%) rotate(180deg);

                }
                .hm-col-7 *{
                    display: block;
                }
            }
            &.active{
                &:hover{
                    &::after {
                        top: 100%;
                        right: 50%;
                        transform: translate(50%, -50%) rotate(180deg);

                    }
                    .hm-col-7 *{
                        display: block;
                    }
                }
            }
            .hm-col-7{
                width: 100%;
                text-align: center;
            }
            .hm-col-5{
                width: 100%;
            }
            .hm-col-7 *, .hm-col-5 *{
                transition: all .3s ease;
                display: none;
            }
            h3{
                display: block !important;
                padding: 10px 0;
                pointer-events: none;
            }
            p{
                margin:5px 0 15px 0;
            }
        }
    }
}
@media only screen and (max-width:600px){
    main .wrapper.wrapper-vps .vps .vps-info::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        top: 0;
        left: 18px;
        transform: translate(0, -50%);
    }
    main .wrapper.wrapper-vps .vps .vps-info::after {
        top: -7px;
        left: 25px;
        content: "";
        position: absolute;
        width: 15px;
        height: 2px;
        background-color: #fff;
        box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99999999999;
        .hm-container-fluid{
            .hm-row{
                .hm-col-fluid-2{
                    width: 25%;
                }
                .hm-push-fluid-2{
                    margin: 0;
                }
            }
        }
    }
}
@media only screen and (max-width:450px){
    html{
        font-size: 10px;
    }
}
@media only screen and (max-width:400px){
    header .hm-container-fluid .slide .title{
        font-size: 30px;
    }
    .title h3{
        font-size: 1rem!important;
    }
    main .wrapper.wrapper-server .list-server .server .hover-server .server-name{
        padding:3px 5px;
    }
    main .wrapper.wrapper-firewall .list-firewall .firewall .after-firewall .price{
        padding:3px 0;
    }
    main .wrapper.wrapper-firewall .list-firewall .firewall .after-firewall a{
        padding: 2px 20px;
    }
    main .wrapper.wrapper-sellserver .list-sellserver .sellserver{
        padding: 10px;
    }
    main .wrapper.wrapper-sellserver .list-sellserver .sellserver .after-sellserver{
        padding:10px;
    }
    main .wrapper.wrapper-sellserver .list-sellserver .sellserver .after-sellserver .price{
        padding: 2px;
    }
    main .wrapper.wrapper-sellserver .list-sellserver .sellserver .after-sellserver .des{
        margin-top: 3px;
    }
    main .wrapper.wrapper-rack .list-rack .rack .hover-rack .rack-name{
        padding: 3px;
    }
    main .wrapper.wrapper-rack .list-rack .rack .hover-rack a{
        bottom:3px;
    }
    main .wrapper.wrapper-server .list-server .server::after{
        top: 22px;
        right: 21px;
        content: "";
        position: absolute;
        width: 9px;
        height: 1px;
        background-color: #fff;
        box-shadow: 0 3px 0 #fff, 0 6px 0 #fff;
    }
    main .wrapper.wrapper-server .list-server .server::before{
            content: " ";
        width: 20px;
        height: 20px;
        background-color: #315c95;
        position: absolute;
        top: 15px;
        right: 15px;
        border-radius: 30px;
    }
}