
/*================main====================*/
#large-header{
    pointer-events: none;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    #demo-canvas{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
main{
    .des{
        text-align: left;
        width: 100%;
        td{
            font-size: .7rem !important;
            font-weight: 300 !important;
            position: relative;
            padding: 3px 0;
            width: 50%;
            color:#3eb5a7;
            +td{
                text-align: right;
            }
            // span{
            //     padding: 0 7px;
            // }
            // +p{
            //     &::after{
            //         content: "";
            //         position: absolute;
            //         bottom: 100%;
            //         left: 50%;
            //         height: 1px;
            //         width: 20%;
            //         transform: translate(-50%, 0);
            //         background-color: rgba(0, 0, 0, .3);
            //     }
            // }
        }
    }
    #our-product{
            background-image: -webkit-linear-gradient(left, #3eb6a7, #3f7ec0);
            background-image: -o-linear-gradient(left, #3eb6a7, #3f7ec0);
            background-image: linear-gradient(to right, #3eb6a7, #3f7ec0);
            padding-bottom: 50px;
            margin-top: 50px;
        }
    .wrapper{
        margin-top: 50px;
        
        .product-title{
            h2{
                font-size: 2rem;
                text-align: center;
                color: #fff;
            }
        }
        .list-product{
            margin-top: 50px;
            
            .product{
                background-color: #fff;
                border-radius: 20px;
                padding: 10px;
                position: relative;
                box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
                .title{
                    h3{
                        color: #3eb6a7;
                    }
                }
                &::after{
                    content: "f103";
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free"; 
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translate(-50% , 0);
                    color:#fff;
                }
                .icon-product{
                    width: 46.35%;
                    margin: 0 auto;
                }
                .title{
                    margin-top: 10px;
                    h3{
                        font-size: 1.5rem;
                        font-weight: 700;
                        text-align: center;
                    }
                }
                .des{
                    position: relative;
                    margin: 18px 0;
                    font-size: 0.8rem;
                    padding: 0 15px;
                    line-height: 1.2rem;
                    color: #3eb6a7;
                    text-align: justify;
                }
            }
        }
        &.wrapper-hosting{
            .price-title{
                h2{
                    font-size: 2rem;
                    color: #3eb5a7;
                    text-align: center;
                    font-weight: 700;
                }
            }
            .list-price{
                margin-top: 50px;
                .price{
                    box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
                    position: relative;
                    padding: 30px 30px 60px 30px;
                    background-color: #fff;
                    // border-radius: 20px;
                    
                    .title{
                        transition: all .3s ease;
                        h3{
                        font-size: 1.5rem;
                        color: #3eb5a7;
                        }
                    }
                    .laptop{
                        width: 72.7272%;
                        margin: 50px auto;
                    }
                    .total-price{
                        bottom: 10%;
                        left: 0;
                        right: 0;
                        position: absolute;
                        color: #3eb5a7;
                        font-size: 1.5rem;
                        font-weight: 700;
                        text-align: center;
                        transition: all .3s ease;
                        span{
                            font-size: 1rem;
                            font-weight: 400;
                        }
                    }
                    .hardware-info{
                        position: absolute;
                        background-color: #fff;
                        left: 0;
                        right: 0;
                        // border-radius: 20px;
                        top: 90%;
                        bottom: 0;
                        overflow: hidden;
                        z-index: 1;
                        transition: all .3s ease;
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                        p{
                            font-size: 1rem;
                            text-align: center;
                            padding: 5px 0;
                            color:#3eb5a7;
                        }
                        ul{
                            opacity: 0;
                        }
                        a{
                            display: none;
                            margin: 0 auto;
                            font-size: 1rem;
                            font-weight: 700;
                            padding: 7px 20px;
                            background-color: #3f7ec0;
                            text-align: center;
                            color: #fff;
                            overflow: hidden;
                            position: absolute;
                            bottom: 5%;
                            // margin: 0 auto;
                            left: 50%;
                            transform: translate(-50%, 0);
                            width: fit-content;
                            &::before{
                                content: "";
                                position: absolute;
                                top: -50%;
                                left: -50px;
                                width: 10px;
                                height: 200%;
                                background-color: rgba(0, 0, 0, .2);
                                z-index: 2;
                                transition: all .3s ease;
                                transform: rotate(30deg);
                                pointer-events: none;
                            }
                            &:hover::before{
                                left: 110%;
                            }
                        }
                    }
                    &:hover{
                        .title{
                            opacity: 0;
                        }
                        .hardware-info{
                            top: 15%;
                            left: 0;
                            right: 0;
                            z-index: 1;
                            padding: 0 20px;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            p{
                                font-size: 1rem;
                                font-weight: 700;
                            }
                            ul{
                                opacity: 1;
                            }
                            a{
                                display: block;
                            }
                        }
                        .total-price{
                            top: 2%;
                            left: 0;
                            right: 0;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
        &.wrapper-vps{
            .vps-title{
               h2{
                 font-size: 2rem;
                font-weight: 700;
                text-align: center;
                color: #3eb5a7;
               }
            }
            .list-vps{
                margin-top: 40px;

            }
            .vps{
                box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
                padding: 60px 0 100px 0;
                background-color: #fff;
                position: relative;
                >.price{
                    font-size: 1rem;
                    font-style: italic;
                    color: #3eb5a7;
                    font-weight: bold;
                    padding-right: 5px;
                    text-align: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    display: none;
                    padding: 5px 10px;
                    transition: all .3s ease;
                }
                .hardware-vps{
                    width: 100%;
                    margin: 0 auto;
                }
                .vps-info{
                    position: absolute;
                    width: 100%;
                    top: 100%;
                    background-color: #fff;
                    transition: all .3s ease;
                    padding: 10px 20px; 
                    bottom: -30px;
                    transform: translate(0, -30px);
                    .price{
                        font-weight: 900;
                        font-size: 1rem;
                        color: #3eb5a7;
                        text-align: right;
                        display: block;
                        top: 50%;
                        -webkit-transform: translate(0, -50%);
                           -moz-transform: translate(0, -50%);
                            -ms-transform: translate(0, -50%);
                             -o-transform: translate(0, -50%);
                                transform: translate(0, -50%);
                    }
                    .des{
                        display: none;
                        font-size: 1rem;
                        color: transparent;
                        height: 80%;
                    }
                    a{
                        display: none;
                        margin: 0 auto;
                        font-size: 1rem;
                        font-weight: 700;
                        padding: 10px 20px;
                        background-color: #3f7ec0;
                        text-align: center;
                        color: #fff;
                        overflow: hidden;
                        position: relative;
                        border-radius: 5px;
                        &::before{
                            content: "";
                            position: absolute;
                            top: -50%;
                            left: -50px;
                            width: 10px;
                            height: 200%;
                            background-color: rgba(0, 0, 0, .2);
                            z-index: 2;
                            transition: all .3s ease;
                            transform: rotate(30deg);
                            pointer-events: none;
                        }
                        &:hover::before{
                            left: 110%;
                        }
                    }
                }
                &:hover{
                    background-color: #fff;
                    .price{
                        display: block;
                    }
                    .vps-info{
                        &::before{
                            display: none;
                        }
                        &::after{
                            display: none;
                        }
                        top: 25%;
                        background-color: #fff;
                        .price{
                            display: none;
                        }
                        .des{
                            display: block;
                            color: #fff;
                            overflow-y: scroll;
                            &::-webkit-scrollbar {
                                width: 4px;
                                pointer-events: all;
                            }
                            &::-webkit-scrollbar-thumb {
                                background: transparent; 
                                border-radius: 10px;
                                width: 2px;
                            }
                            &:hover::-webkit-scrollbar-thumb {
                                background-color: #1f1f1f;
                                transition: all .3s ease;
                                opacity: 1;
                            }
                        }
                        a{
                            display: block;
                        }
                    }
                }
            }
        }
        &.wrapper-firewall{
            .firewall-title{
                h2{
                    color: #3eb6a7;
                    font-size: 2rem;
                    font-weight: 900;
                    text-align: center;
                }
            }
            .list-firewall{
                margin-top: 40px;
                .firewall{
                    box-shadow: 0 0 15px rgba(0,0,0,0.4);
                    position: relative;
                    padding: 10px;
                    background-color: #fff;
                    .before-firewall{
                        font-size: 0;
                        transition: all .5s ease;
                        // > *{
                        //     vertical-align: top;
                        //     display: inline-block;
                        //     width: 50%;
                        // }
                        .info{
                            padding-right: 15px;
                            h3{
                                font-size: 1.5rem;
                                color: #3eb6a7;
                                line-height: 1;
                            }
                            .price{
                                font-size: 1rem;
                                color: #3eb6a7;
                                padding: 10px 0;
                            }
                            .des{
                                font-size: 1rem;
                                color: #3eb6a7;
                                padding: 10px 0;
                            }
                        }
                        .firewall-img{
                            padding-left: 15px;
                        }
                    }
                    .after-firewall{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        font-size: 0;
                        padding: 10px;
                        opacity: 0;
                        transition: all .5s ease;
                        padding-right: 15px;
                        img{
                            width: 70%;
                            margin-top: 10px;
                        }
                        .price{
                            font-size: 1rem;
                            color: #3eb6a7;
                            font-weight: 700;
                            font-style: italic;
                            padding: 7px 0;
                        }
                        padding-left: 15px;
                        height: 100%;
                        a{
                            display: block;
                            margin: 0 auto;
                            font-size: 1.2rem;
                            font-weight: 700;
                            padding: 5px 20px;
                            background-color: #315c95;
                            text-align: center;
                            color: #fff;
                            overflow: hidden;
                            border-radius: 5px;
                            position: relative;
                            cursor: pointer;
                            &::before{
                                content: "";
                                position: absolute;
                                top: -50%;
                                left: -50px;
                                width: 10px;
                                height: 200%;
                                background-color: rgba(0, 0, 0, .2);
                                z-index: 2;
                                transition: all .3s ease;
                                transform: rotate(30deg);
                                pointer-events: none;
                            }
                            &:hover::before{
                                left: 110%;
                            }
                        }
                        .des{
                            font-size: 1rem;
                            color: #3eb6a7;
                            overflow-y: scroll;
                            height: 50%;
                            margin-top: 20px;
                            &::-webkit-scrollbar {
                                width: 4px;
                                pointer-events: all;
                            }
                            &::-webkit-scrollbar-thumb {
                                background: transparent; 
                                border-radius: 10px;
                                width: 2px;
                            }
                            &:hover::-webkit-scrollbar-thumb {
                                background-color: #1f1f1f;
                                transition: all .3s ease;
                                opacity: 1;
                            }
                        }
                    }
                    &.active{
                        .before-firewall{
                            transform: rotatey(-360deg);
                            opacity: 0;
                            pointer-events: none;
                        }
                        .after-firewall{
                            background-color: #fff;
                            opacity: 1;
                            transform: rotatey(-360deg);
                            padding: 0 15px;
                        }
                    }
                }
            }
        }
        &.wrapper-server{
            .server-title{
               h2{
                 font-size: 2rem;
                font-weight: 700;
                text-align: center;
                color: #fff;
                color: #3eb5a7;
               }

            }
            .list-server{
                margin-top: 40px;
                .server{
                    position: relative;
                    background-color: #fff;
                    box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
                    .server-img{
                        margin-bottom: 50px;
                    }
                    
                    .server-img{
                        padding: 12px 15px;
                    }
                    .price{
                        font-size: 1.3rem;
                        padding: 7px 0;
                        background-color: #fff;
                        width: 100%;
                        margin-top: 30px;
                        color: #3eb6a7;
                    }
                    .hover-server{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 100%;
                        right: 0;
                        transform: translate(-100%, 0);
                        background-color: #fff;
                        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
                        overflow: hidden;
                        z-index: 999;
                        .server-name{
                            padding: 10px 5px;
                            font-size: 1.5rem;
                            color: #3eb6a7;
                            border-bottom: 3px solid #afafaf;
                        }
                        .des{
                            padding: 5px 5px;
                            color: #fff;
                            font-size: 1rem;
                        }
                        a{ 
                            display: block;
                            margin: 0 auto;
                            font-size: 1rem;
                            font-weight: 700;
                            padding: 5px 20px;
                            background-color: #315c95;
                            text-align: center;
                            color: #fff;
                            overflow: hidden;
                            position: absolute;
                            bottom: 10px;
                            width: fit-content;
                            left: 50%;
                            transform: translate(-50%, 0);
                            border-radius: 5px;
                            &::before{
                                content: "";
                                position: absolute;
                                top: -50%;
                                left: -50px;
                                width: 10px;
                                height: 200%;
                                background-color: rgba(0, 0, 0, .2);
                                z-index: 2;
                                transition: all .3s ease;
                                transform: rotate(30deg);
                                pointer-events: none;
                            }
                            &:hover::before{
                                left: 110%;
                            }
                        }
                    }
                    &:hover{
                        .hover-server{
                            left: 20%;
                            transform: translate(0 , 0);
                            transition: left .3s ease;
                        }
                    }
                }
            }
        }
        &.wrapper-rack{
            .rack-title{
                h2{
                    font-size: 2rem;
                font-weight: 700;
                text-align: center;
                color: #3eb6a7;
                }
            }
            .list-rack{
                margin-top: 40px;
                .rack{
                    position: relative;
                    background-color: #fff;
                    box-shadow: 0 0 15px rgba(0,0,0,0.4);
                    padding: 20px;
                    .rack-img{
                        padding-left: 15px;
                        padding: 15px;
                        width: 50%;
                        display: inline-block;
                        font-size: 0;
                        vertical-align: top;
                    }
                    .first-des{
                        vertical-align: top;
                        padding-right: 15px;
                        display: inline-block;
                        font-size: 0;
                        width: 50%;
                        h3{
                            font-size: 1.5rem;
                            color: #315c95;
                        }
                        .des{
                            margin:15px 0;  
                            td{
                            color: #000;
                            font-size: 1rem;
                        }
                        }
                        a{
                            font-size: 1rem;
                            padding: 5px 20px;
                            background-color: #315c95;
                            color:#fff;
                            overflow: hidden;
                            position: relative;
                            border-radius: 5px;
                            &::before{
                                content: "";
                                position: absolute;
                                top: -50%;
                                left: -50px;
                                width: 10px;
                                height: 200%;
                                background-color: rgba(0, 0, 0, .2);
                                z-index: 2;
                                transition: all .3s ease;
                                transform: rotate(30deg);
                                pointer-events: none;
                            }
                            &:hover::before{
                                left: 110%;
                            }
                        }
                    }
                    .price{
                        font-size: 1rem;
                        padding: 9px 0;
                        background-color: #fff;
                        width: 100%;
                        margin: 0 auto;
                        // margin-top: 30px;
                        color: #3eb6a7;
                    }
                    .hover-rack{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 100%;
                        transform: translate(-100%, 0);
                        background-color: #fff;
                        overflow: hidden;
                        z-index: 999;
                        .rack-name{
                            padding: 7px 0;
                            font-size: 1rem;
                            color: #3eb6a7;
                            border-bottom: 3px solid #bbbbbb;
                        }
                        .des{
                            padding: 5px 5px;
                            color: #fff;
                            font-size: 1rem;
                        }
                        a{ 
                            display: block;
                            margin: 0 auto;
                            font-size: 1rem;
                            font-weight: 700;
                            padding: 5px 20px;
                            background-color: #325c96;
                            text-align: center;
                            color: #fff;
                            overflow: hidden;
                            position: absolute;
                            bottom: 10px;
                            width: fit-content;
                            left: 50%;
                            transform: translate(-50%, 0);
                            border-radius: 5px;
                            &::before{
                                content: "";
                                position: absolute;
                                top: -50%;
                                left: -50px;
                                width: 10px;
                                height: 200%;
                                background-color: rgba(0, 0, 0, .2);
                                z-index: 2;
                                transition: all .3s ease;
                                transform: rotate(30deg);
                                pointer-events: none;
                            }
                            &:hover::before{
                                left: 110%;
                            }
                        }
                    }
                    &:hover{
                        .hover-rack{
                            background-color: #fff;
                            box-shadow: 0 0 10px rgba(0, 0, 0, .3);
                            right: 20%;
                            transform: translate(0 , 0);
                            transition: right .3s ease;
                        }
                    }
                }
            }
        }
        &.wrapper-serverplace{
            .serverplace-title{
                h2{
                    font-size: 2rem;
                font-weight: 700;
                text-align: center;
                color: #3eb6a7;
                }
            }
            .list-serverplace{
                margin-top: 40px;
                .serverplace{
                    position: relative;
                    background-color: #fff;
                    overflow: hidden;
                    box-shadow: 0 0 15px rgba(0,0,0,0.4);
                    padding: 20px;
                    .serverplace-img{
                        width: 50%;
                        display: inline-block;
                        font-size: 0;
                        padding-right: 15px;
                    }
                    .first-des{
                        font-size: 0;
                        width: 50%;
                        display: inline-block;
                        vertical-align: top;
                        padding-left: 15px;
                        position: relative;
                        h2{
                            font-size: 1.5rem;
                            padding: 10px 20px;
                            color: #325c96;
                        }
                        p{
                            font-size: 1rem;
                            color: #325c96;
                            padding: 5px;
                        }
                        a{ 
                            position: relative;
                            display: block;
                            margin: 20px auto 0 auto;
                            width: fit-content;
                            font-size: 1rem;
                            font-weight: 700;
                            padding: 5px 20px;
                            background-color: #325c96;
                            text-align: center;
                            color: #fff;
                            border-radius: 5px;
                            overflow: hidden;
                            // width: fit-content;
                            &::before{
                                content: "";
                                position: absolute;
                                top: -50%;
                                left: -50px;
                                width: 10px;
                                height: 200%;
                                background-color: rgba(0, 0, 0, .2);
                                z-index: 2;
                                transition: all .3s ease;
                                transform: rotate(30deg);
                                pointer-events: none;
                            }
                            &:hover::before{
                                left: 110%;
                            }
                        }
                    }
                    // &::before{
                    //     content: "\f103";
                    //     font-weight: 900;
                    //     font-family: "Font Awesome 5 Free"; 
                    //     position: absolute;
                    //     top: 0;
                    //     left: 50%;
                    //     transform: translate( -50%, -50%);
                    //     width: 30px;
                    //     height: 30px;
                    //     border-radius: 50%;
                    //     background-color: #3eb6a7;
                    //     transition: all .3s ease;
                    // }
                    .price{
                        font-size: 1rem;
                        padding: 12px 0px;
                        background-color: #fff;
                        width: 100%;
                    }
                    .hover-serverplace{
                        position: absolute;
                        top: 0;
                        bottom: 100%;
                        left: 0;
                        right: 0;
                        background-color: #fff;
                        overflow: hidden;
                        z-index: 999;
                        transition: bottom .3s ease;
                        .serverplace-name{
                            padding: 10px 5px;
                            font-size: 1.5rem;
                            color: #3eb6a7;
                            border-bottom: 3px solid #7d93b0;
                        }
                        .des{
                            padding: 5px 5px;
                            color: #3eb6a7;
                            font-size: 1rem;
                        }
                        a{ 
                            display: block;
                            margin: 0 auto;
                            font-size: 1rem;
                            font-weight: 700;
                            padding: 5px 20px;
                            background-color: #325c96;
                            text-align: center;
                            color: #fff;
                            border-radius: 5px;
                            overflow: hidden;
                            position: absolute;
                            bottom: 10px;
                            width: fit-content;
                            left: 50%;
                            transform: translate(-50%, 0);
                            &::before{
                                content: "";
                                position: absolute;
                                top: -50%;
                                left: -50px;
                                width: 10px;
                                height: 200%;
                                background-color: rgba(0, 0, 0, .2);
                                z-index: 2;
                                transition: all .3s ease;
                                transform: rotate(30deg);
                                pointer-events: none;
                            }
                            &:hover::before{
                                left: 110%;
                            }
                        }
                    }
                    &:hover{
                        .hover-serverplace{
                            bottom: 0;
                            transform: translate(0 , 0);
                        }
                        &::before{
                            top: 100%;
                        }
                    }
                }
            }
        }
        &.wrapper-sellserver{
            .sellserver-title{
                h2{
                    font-size: 2rem;
                    font-weight: 700;
                    text-align: center;
                    color: #3eb6a7;
                } 
            }
            .list-sellserver{
                margin-top: 40px;
                .sellserver{
                    position: relative;
                    padding: 20px 20px;
                    box-shadow: 0 0 15px rgba(0,0,0,0.4);
                    background-color: #fff;
                    overflow: hidden;
                    .before-sellserver{
                        font-size: 0;
                        transition: all .5s ease;
                        // > *{
                        //     vertical-align: top;
                        //     display: inline-block;
                        //     width: 50%;
                        // }
                        .info{
                            padding-right: 15px;
                            h3{
                                font-size: 1.5rem;
                                color: #3eb6a7;
                                line-height: 1;
                            }
                            .price{
                                font-size: 1rem;
                                color: #3eb6a7;
                                padding: 10px 0;
                            }
                            .des{
                                font-size: 1rem;
                                color: #3eb6a7;
                                padding: 10px 0;
                            }
                        }
                        .sellserver-img{
                            padding-left: 15px;
                        }
                    }
                    .after-sellserver{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom:100%;
                        font-size: 0;
                        padding: 20px;
                        opacity:0;
                        pointer-events:none;
                        transition: all .5s ease;
                        padding-right: 15px;
                        img{
                            width: 70%;
                            margin-top: 20px;
                        }
                        .price{
                            font-size: 1rem;
                            color: #3eb6a7;
                            font-weight: 700;
                            font-style: italic;
                            padding-bottom: 10px;
                        }
                        padding-left: 15px;
                        
                        height: 100%;
                        a{
                            display: block;
                            margin: 0 auto;
                            font-size: 1.5rem;
                            font-weight: 700;
                            padding: 5px;
                            background-color: #325c96;
                            text-align: center;
                            border-radius: 5px;
                            color: #fff;
                            overflow: hidden;
                            position: relative;
                            cursor: pointer;
                            &::before{
                                content: "";
                                position: absolute;
                                top: -50%;
                                left: -50px;
                                width: 10px;
                                height: 200%;
                                background-color: rgba(0, 0, 0, .2);
                                z-index: 2;
                                transition: all .3s ease;
                                transform: rotate(30deg);
                                pointer-events: none;
                            }
                            &:hover::before{
                                left: 110%;
                            }
                        }
                        .des{
                            font-size: 1rem;
                            color: #325c96;
                            margin-top: 10px;
                            overflow-y: scroll;
                            height: 60%;
                            &::-webkit-scrollbar {
                                width: 4px;
                                pointer-events: all;
                            }
                            &::-webkit-scrollbar-thumb {
                                background: transparent; 
                                border-radius: 10px;
                                width: 2px;
                            }
                            &:hover::-webkit-scrollbar-thumb {
                                background-color: #1f1f1f;
                                transition: all .3s ease;
                                opacity: 1;
                            }
                        }
                    }
                    &:hover{
                        .before-sellserver{
                            opacity: 0;
                            pointer-events: none;
                        }
                        .after-sellserver{
                            opacity: 1;
                            bottom: 0;
                            pointer-events: all;
                        }
                    }
                }
            }
        }
    }
    .banner{
         // background-image: linear-gradient(to right,#3eb6a7, #3f7ec0);
        text-align: center;
        margin-top: 50px;
        .banner-title{
            h3{
                color:#3eb5a7;
                font-size: 1.5rem;
                text-align: center;
            }
        }
        .banner-icons{
            vertical-align: bottom;
            margin-top: 40px;
            .banner-icon{
                display: inline-block;
                + .banner-icon{
                    margin-left: 5.5%;          
                }
            }
        }
    }
    .banner-1{
        background-image: linear-gradient(to right,#3eb6a7, #3f7ec0);
        margin-top: 66px;
        position: relative;
        h3{
            font-size: 1.6rem;
            font-weight: 1100;
            padding: 25px 0 0 0;
            color: #fff;
        }
        p{
            font-size: 0.8rem;
            font-weight: 300;
            margin: 10px 0;
            // margin-top: 15px;
            color: #fff;
            
        }
        // .hardware-banner{
        //     position: absolute;
        //     width: 25%;
        //     top: -10%;
        //     right: 5%;
        // }
        &.post{
            background-color: #191e234a;
            background-image: none;
            position: relative;
            margin: 0;
            >*{
                position: relative;
                z-index: 2;
            }
            .hm-col-12{
                padding-top: 50px;
                padding-bottom: 50px;
            }
            &::before{
                content:"";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #263f61;
                opacity:0.5;
                z-index: 0;
            }
        }
    }
    .banner-2{
        margin-top: 50px;
        &::before {
            content: '';
            display: block;
            padding-top: 25%;
            }
            text-align: center;
        .hm-container{
            position: absolute;
            z-index: 9;
            top: 0;
            left: 50%;
            width: 1200px;
            padding: 0 15px;
            transform: translate(-50%, 0);
            h3{
            font-size: 2rem;
            position: relative;
            top: 10px;
            width: 100%;
            text-align: center;
            }
            p{
            position: absolute;
            text-align: center;
            font-size: 1rem;
            top: 70px;
            left:50%;
            transform: translate(-50%, 0);
            width: 100%;
            }
        }
    }
}
/*===============footer======================*/
footer{
    padding: 45px 0;
    font-size: 0;
    background-image: linear-gradient(to right,#3eb6a7, #3f7ec0);
    .hm-container-fluid{
        background-image: linear-gradient(to right,#3eb6a7, #3f7ec0);
        .hm-container{
            .widgets{
                position: relative;
                z-index: 9;
                .widget{
                    .widget-title{
                        font-size: 1rem;
                        color: #fff;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding: 14px 0;
                    }
                    ul{
                        li{
                            a{
                                padding: 7px 0;
                                color: #fff;
                                font-size: 1rem;
                                font-weight: 300;
                            }
                            &:hover a{
                                color: #999;
                            }
                        }
                    }
                    p{
                        a{
                            padding: 7px 0;
                            color: #fff;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                        &:hover a{
                            color: #999;
                        }
                        ul{
                            li{
                                a{
                                    padding: 14px 0;
                                    color: #fff;
                                    font-size: 1rem;
                                    font-weight: 300;
                                }
                                &:hover a{
                                    color: #999;
                                }
                            }
                        }
                    }
                }
            }
            .contact{
                position: relative;
                background-color: transparent;
                padding: 25px 20px;
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #fff;
                    opacity: .2;
                    pointer-events: none;
                }
                h3{
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: 700;
                    color: #fff;
                    padding: 5px 0;
                }
                p{
                    font-size: 0.8rem;
                    font-weight: 300;
                    padding: 5px 0;
                    color: #fff;
                }
            }
            .list-payments{
                margin-top: 45px;
            }
        }
    }
}
/*====================FIXED=================*/
.direc{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    z-index: 99999999999;
    ~a{
        background-color: #3f7ec0;
        display: none;
    }
    a{
        background-color: #3f7ec0;
        display: block;
        // padding: 5px 10px;
        text-align: right;
        color: #fff;
        margin: 0;
        transition: all .3s ease;
        width: 40px;
        height: 40px;
        position: relative;
        transition: all .3s ease;
        left: 0;
        right: 0;
        &:hover{
            width: 70px;
            span{
                opacity: 1;
                pointer-events: auto;
            }
        }
        i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        span{
            position: absolute;
            top: 50%;
            left: 110%;
            transform: translate(0, -50%);
            width: 380px;
            text-align: left;
            opacity: 0;
            pointer-events: none;
            transition: all .3s ease;
            color: #3f7ec0;
        }
    }
}
/*=====================MESSEGER=====================*/
#messeger{
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    a{
        padding: 5px 7px;
        background-color: #0084ff;
        border-radius: 50%;
        i{
            font-size: 4.5rem;
            color:#fff;
        }
    }
}






/*============CONTACT====================*/
main{
    section{
        &#contact{
            color: #3eb5a7;
            margin-top: 50px;
            .title{
                .contact-title{
                    h1{
                       font-size: 2rem;
                       font-weight: 700;
                       text-align: center; 
                    }
                }
            }
            .top-contact{
                margin-top: 20px;
                .contact{
                    text-align: center;
                    .icon{
                        font-size: 2.5rem;
                        color: #1369bf;
                    }
                    h3{
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                    p{
                        font-size: 1rem;
                        padding: 5px 0;
                    }
                }
            }
        }
        &#form-contact{
            color: #3eb5a7;
            margin-top: 50px;
            margin-bottom: 50px;
            position: relative;
            z-index: 9;
            .form-title{
                h1{
                    font-size: 2rem;
                    font-weight: 700;
                    text-align: center;
                }
            }
            form{
                margin-top: 20px;
                input,textarea{
                    display: block;
                    background-color: #baf3e8;
                    color: #000;
                    font-style: italic;
                    padding: 25px;
                    margin-top: 33px;
                    width: 100%;
                    border: none;
                    text-rendering:none;
                    transition: all .5s ease;
                    &:focus{
                        box-shadow: 1px 1px 15px 0 #fefbce;
                    }
                }
                textarea{
                    height: 250px;
                }
            }
            .button-social{
                margin-top: 20px;
                .list-button{
                    .button{
                        > *{
                            height: 46px;
                            width: 100%;
                            color: #fff;
                            font-style: italic;
                            font-size: 1rem;
                            border: none;
                            cursor: pointer;
                        }
                        .submit{
                            position: relative;
                            background-color: #1369bf;
                            border-bottom: 5px solid #0c3762;
                            // overflow: hidden;
                            &::after{
                                content: " ";
                                position: absolute;
                                height: 5px;
                                bottom: -5px;
                                left: 0;
                                right: 100%;
                                background-color: #03111f;
                                transition: all .5s ease;
                            }   
                            &:hover::after{
                                right: 0;
                            }
                        }
                        .reset{
                            color: #000;
                        }
                    }
                }
                .socials{
                    .list-socials{
                        li{
                            float: right;
                            margin-left: 15px;
                            a{
                                width: 45px;
                                height: 45px;
                                color: #fefbce;
                                border: 5px solid #fefbce;
                                border-radius: 50%;
                                position: relative;
                                i{
                                    font-size: 1rem;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

